@import "../employees/employees.css";
.actions-cell {
  display: flex;
  gap: 8px;
}

.edit-btn,
.delete-btn {
  border: none;
  cursor: pointer;
  border-radius: 6px;
  padding: 6px 10px;
  font-size: 15px;
}

.edit-btn {
  background: #2563eb;
  color: white;
}

.edit-btn:hover {
  background: #1d4ed8;
}

.delete-btn {
  background: #dc2626;
  color: white;
}

.delete-btn:hover {
  background: #b91c1c;
}